.dark {
    color: var(--dark-text-color);
    background-color: var(--dark-body-bg-color);
    width: 10%;
}
.actions{
    background: rgba(0, 0, 0, 0.3);
}

.actions button{
    background: transparent;
  
} 
button{
background-color: transparent;
border: none;
cursor: pointer;
color: #252627;

}
.dark button{
color: var(--dark-text-color);
}
.dark{
color: var(--dark-text-color);
background: var(--dark-body-bg-color);
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5 {
color: var(--color-white);
}